In [1]:
import numpy as np
import pandas as pd

In [2]:
# 使用 range (start, stop[, step]) 函数根据 start 与 stop 指定的范围以及 step 设定的步长，生成一个序列（左闭右开）
# 只能使用 int，不能使用 float
list1 = [i for i in range(0,5,2)]
list1

[0, 2, 4]

In [3]:
# 使用 np.arange(start, stop[, step]) 函数生成一个序列（左闭右开），可以使用 float
list2 = list(np.arange(0,1,0.1))
list2

[0.0,
 0.1,
 0.2,
 0.30000000000000004,
 0.4,
 0.5,
 0.6000000000000001,
 0.7000000000000001,
 0.8,
 0.9]

In [4]:
# 使用切片 [start:stop:step]
# 切取单个值
list2[0],list2[-3]

(0.0, 0.7000000000000001)

In [5]:
# 切取完整对象
list2[:] # 从左往右

[0.0,
 0.1,
 0.2,
 0.30000000000000004,
 0.4,
 0.5,
 0.6000000000000001,
 0.7000000000000001,
 0.8,
 0.9]

In [6]:
list2[::] # 从左往右

[0.0,
 0.1,
 0.2,
 0.30000000000000004,
 0.4,
 0.5,
 0.6000000000000001,
 0.7000000000000001,
 0.8,
 0.9]

In [7]:
list2[::-1] # 从右往左

[0.9,
 0.8,
 0.7000000000000001,
 0.6000000000000001,
 0.5,
 0.4,
 0.30000000000000004,
 0.2,
 0.1,
 0.0]

In [8]:
list2[1:6] # step=1，从左往右取值，start_index=1到end_index=6同样表示从左往右取值

[0.1, 0.2, 0.30000000000000004, 0.4, 0.5]

In [9]:
list2[1:6:-1] # step=-1，决定了从右往左取值，而start_index=1到end_index=6决定了从左往右取值，两者矛盾

[]

In [10]:
list2[6:1] # step=1，决定了从左往右取值，而start_index=6到end_index=1决定了从右往左取值，两者矛盾

[]

In [11]:
list2[:6] # step=1，从左往右取值，从“起点”开始一直取到end_index=6

[0.0, 0.1, 0.2, 0.30000000000000004, 0.4, 0.5]

In [12]:
list2[:6:-1] # step=-1，从右往左取值，从“终点”开始一直取到end_index=6

[0.9, 0.8, 0.7000000000000001]

In [13]:
list2[6:] # step=1，从左往右取值，从start_index=6开始，一直取到“终点”

[0.6000000000000001, 0.7000000000000001, 0.8, 0.9]

In [14]:
list2[6::-1] # step=-1，从右往左取值，从start_index=6开始，一直取到“起点”

[0.6000000000000001, 0.5, 0.4, 0.30000000000000004, 0.2, 0.1, 0.0]

In [15]:
list2[-1:-6] # step=1，从左往右取值，而start_index=-1到end_index=-6决定了从右往左取值，两者矛盾

[]

In [16]:
list2[-1:-6:-1] # step=-1，从右往左取值，start_index=-1到end_index=-6同样是从右往左取值

[0.9, 0.8, 0.7000000000000001, 0.6000000000000001, 0.5]

In [17]:
list2[-6:-1] # step=1，从左往右取值，而start_index=-6到end_index=-1同样是从左往右取值

[0.4, 0.5, 0.6000000000000001, 0.7000000000000001, 0.8]

In [19]:
list2[:-6] # step=1，从左往右取值，从“起点”开始一直取到end_index=-6

[0.0, 0.1, 0.2, 0.30000000000000004]

In [20]:
list2[:-6:-1] # step=-1，从右往左取值，从“终点”开始一直取到end_index=-6

[0.9, 0.8, 0.7000000000000001, 0.6000000000000001, 0.5]

In [21]:
list2[-6:] # step=1，从左往右取值，从start_index=-6开始，一直取到“终点”

[0.4, 0.5, 0.6000000000000001, 0.7000000000000001, 0.8, 0.9]

In [22]:
list2[-6::-1] # step=-1，从右往左取值，从start_index=-6开始，一直取到“起点”

[0.4, 0.30000000000000004, 0.2, 0.1, 0.0]

In [23]:
list2[1:-6] # start_index=1在end_index=-6的左边，因此从左往右取值，而step=1同样决定了从左往右取值

[0.1, 0.2, 0.30000000000000004]

In [24]:
list2[1:-6:-1] # start_index=1在end_index=-6的左边，因此从左往右取值，但step=-则决定了从右往左取值，两者矛盾

[]

In [25]:
list2[-1:6] # start_index=-1在end_index=6的右边，因此从右往左取值，但step=1则决定了从左往右取值，两者矛盾

[]

In [26]:
list2[-1:6:-1] # start_index=-1在end_index=6的右边，因此从右往左取值，而step=-1同样决定了从右往左取值

[0.9, 0.8, 0.7000000000000001]

In [27]:
list2[:8][2:5][-1:]

[0.4]

In [28]:
list2[2+1:3*2:7%3] # 即：a[2+1:3*2:7%3] = a[3:6:1]

[0.30000000000000004, 0.4, 0.5]

In [29]:
(0, 1, 2, 3, 4, 5)[:3] # 元组的切片操作

(0, 1, 2)

In [30]:
'ABCDEFG'[::2] # 字符串的切片操作

'ACEG'

In [31]:
for i in range(1,100)[2::3][-10:]: # 利用range函数生成1-99的整数，然后取3的倍数，再取最后十个。
    print(i, end=' ')

72 75 78 81 84 87 90 93 96 99

In [32]:
# 取偶数位置
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a[::2]

[0, 2, 4, 6, 8]

In [33]:
# 取奇数位置
a[1::2]

[1, 3, 5, 7, 9]

In [35]:
# 拷贝整个对象
# [:]和.copy()都属于“浅拷贝”，只拷贝最外层元素，内层嵌套元素则通过引用，而不是独立分配内存
b = [1,2,['A','B']]
c = b[:]
c[0] = 9
c[2][0] = 'D' 
b,c,id(b),id(c)

([1, 2, ['D', 'B']], [9, 2, ['D', 'B']], 2392677023368, 2392676499976)

In [36]:
# 修改单个元素
a[3] = ['A','B']
a

[0, 1, 2, ['A', 'B'], 4, 5, 6, 7, 8, 9]

In [37]:
# 在某个位置插入元素
a[3:3] = ['A','B','C']
a

[0, 1, 2, 'A', 'B', 'C', ['A', 'B'], 4, 5, 6, 7, 8, 9]

In [38]:
# 替换一部分元素
a[3:6] = ['A','B']

In [55]:
# DataFrame 的选择
# 使用 loc 按标签选择行
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df = df.assign(C=lambda x: x['A'] + x['B'], D=lambda x: x['A'] + x['C'])
df.loc[:,'B']

0    4
1    5
2    6
Name: B, dtype: int64

In [56]:
# 使用 iloc 按整数位置选择行
df.iloc[2]

A     3
B     6
C     9
D    12
Name: 2, dtype: int64

In [57]:
# 使用 at 快速访问标量
dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df.at[dates[0], "A"]

-0.6881397226566545

In [58]:
# 使用 iat 快速访问标量
df.iat[1, 1]

-0.20104690039452966

In [59]:
# 使用 at 通过标签设置值
df.at[dates[0], "A"] = 0
df

                   A         B         C         D
2013-01-01  0.000000 -1.973283  1.110476  0.036735
2013-01-02  0.335833 -0.201047 -0.715689  1.336811
2013-01-03 -0.512128 -0.136280 -0.104250  0.331555
2013-01-04  1.623846  0.619222 -0.085996 -0.039872
2013-01-05 -0.685738  0.115643  0.769817  0.232000
2013-01-06  0.661424 -0.671458  0.683235 -0.094670

In [60]:
# 使用 iat 按位置设置值
df.iat[0, 1] = 0
df

                   A         B         C         D
2013-01-01  0.000000  0.000000  1.110476  0.036735
2013-01-02  0.335833 -0.201047 -0.715689  1.336811
2013-01-03 -0.512128 -0.136280 -0.104250  0.331555
2013-01-04  1.623846  0.619222 -0.085996 -0.039872
2013-01-05 -0.685738  0.115643  0.769817  0.232000
2013-01-06  0.661424 -0.671458  0.683235 -0.094670