In [1]:
import pandas as pd
from pandas.tseries.offsets import Day, MonthEnd
import datetime

In [2]:
# 读取数据集，
df = pd.read_excel('./data.xlsx',sheet_name='Sheet2')
df['日期'] = pd.to_datetime(df['日期']) # 将数据类型转换为日期类型
df = df.set_index('日期') # 将日期类型设置为索引
df

             销售额
日期
2019-01-01  1969
2019-01-02  9392
2019-01-03  5406
2019-01-04  8386
2019-01-05  5919
...          ...
2021-02-28  6313
2021-03-01  9866
2021-03-02  7541
2021-03-03  7174
2021-03-04  6856

[794 rows x 1 columns]

In [3]:
# 按日期筛选数据
df_2019_2020 = df['2019':'2020']
df_2019_2020

             销售额
日期
2019-01-01  1969
2019-01-02  9392
2019-01-03  5406
2019-01-04  8386
2019-01-05  5919
...          ...
2020-12-27  1513
2020-12-28  4537
2020-12-29  2100
2020-12-30  7941
2020-12-31  1081

[731 rows x 1 columns]

In [4]:
df_201911 = df.loc['2019-11']
df_201911

             销售额
日期
2019-11-01  3991
2019-11-02  4227
2019-11-03  8202
2019-11-04  5642
2019-11-05  3066
2019-11-06  1875
2019-11-07  4210
2019-11-08  5595
2019-11-09  4717
2019-11-10  4123
2019-11-11  7066
2019-11-12  4746
2019-11-13  6801
2019-11-14  6645
2019-11-15  5131
2019-11-16  8131
2019-11-17  8121
2019-11-18  2485
2019-11-19  1388
2019-11-20  4308
2019-11-21  2639
2019-11-22  9613
2019-11-23  7832
2019-11-24  8307
2019-11-25  4986
2019-11-26  3240
2019-11-27  7037
2019-11-28  9361
2019-11-29  8604
2019-11-30  2308

In [5]:
df_11 = df['2019-11-06':'2019-11-09']
df_11

             销售额
日期
2019-11-06  1875
2019-11-07  4210
2019-11-08  5595
2019-11-09  4717

In [6]:
df_after = df.truncate(before = '2020-12-31')
df_after

             销售额
日期
2020-12-31  1081
2021-01-01  4579
2021-01-02  2806
2021-01-03  6097
2021-01-04  4837
...          ...
2021-02-28  6313
2021-03-01  9866
2021-03-02  7541
2021-03-03  7174
2021-03-04  6856

[64 rows x 1 columns]

In [7]:
df_before = df.truncate(after = '2019-01-05')
df_before

             销售额
日期
2019-01-01  1969
2019-01-02  9392
2019-01-03  5406
2019-01-04  8386
2019-01-05  5919

In [8]:
# 按日期显示数据
df.to_period('M').head() #按月显示，但不统计

          销售额
日期
2019-01  1969
2019-01  9392
2019-01  5406
2019-01  8386
2019-01  5919

In [9]:
df.to_period('Q').head() #按季度显示，但不统计

         销售额
日期
2019Q1  1969
2019Q1  9392
2019Q1  5406
2019Q1  8386
2019Q1  5919

In [10]:
df.to_period('A').head() #按年显示，但不统计

       销售额
日期
2019  1969
2019  9392
2019  5406
2019  8386
2019  5919

In [11]:
# 按周统计数据
df.resample('w').sum().head()

              销售额
日期
2019-01-06  36644
2019-01-13  31355
2019-01-20  32744
2019-01-27  44856
2019-02-03  38589

In [12]:
# 按月统计数据
df.resample('M').sum().head()

               销售额
日期
2019-01-31  172438
2019-02-28  157429
2019-03-31  190439
2019-04-30  161940
2019-05-31  168406

In [13]:
# 按季度统计数据
df.resample('Q').sum().head()

               销售额
日期
2019-03-31  520306
2019-06-30  520138
2019-09-30  557186
2019-12-31  537313
2020-03-31  492765

In [14]:
# 按年统计数据
df.resample('AS').sum().head()

                销售额
日期
2019-01-01  2134943
2020-01-01  2034433
2021-01-01   339931

In [15]:
# 按年统计并显示
df.resample('AS').sum().to_period('A').head()

          销售额
日期
2019  2134943
2020  2034433
2021   339931

In [16]:
# 按季度统计并显示
df.resample('Q').sum().to_period('Q').head()

           销售额
日期
2019Q1  520306
2019Q2  520138
2019Q3  557186
2019Q4  537313
2020Q1  492765

In [17]:
# 按月度统计并显示
df.resample('M').sum().to_period('M').head()

            销售额
日期
2019-01  172438
2019-02  157429
2019-03  190439
2019-04  161940
2019-05  168406

In [18]:
# 创建日期索引
# 默认产生按天计算的时间点
index = pd.date_range('2021-03-01', '2021-03-04')
index

DatetimeIndex(['2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04'], dtype='datetime64[ns]', freq='D')

In [19]:
# 按工作日计算产生对应日期
index2 = pd.date_range('20210101',periods=10,freq='B')
index2

DatetimeIndex(['2021-01-01', '2021-01-04', '2021-01-05', '2021-01-06',
               '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14'],
              dtype='datetime64[ns]', freq='B')

In [20]:
# 按每月最后一天产生对应日期
index3 = pd.date_range('2021/02/01',periods=10,freq='M')
index3

DatetimeIndex(['2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31',
               '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30',
               '2021-10-31', '2021-11-30'],
              dtype='datetime64[ns]', freq='M')

In [21]:
# 传入起始日期
pd.date_range(start='2020-12-01', periods=15)

DatetimeIndex(['2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
               '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08',
               '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12',
               '2020-12-13', '2020-12-14', '2020-12-15'],
              dtype='datetime64[ns]', freq='D')

In [22]:
# 传入的结束日期带有时间信息，设置normalize=true，生成规范化的日期索引
pd.date_range(end='2021-03-01 13:37:00',periods=15,normalize=True)

DatetimeIndex(['2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18',
               '2021-02-19', '2021-02-20', '2021-02-21', '2021-02-22',
               '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26',
               '2021-02-27', '2021-02-28', '2021-03-01'],
              dtype='datetime64[ns]', freq='D')

In [23]:
# 根据指定频率,生成一个由每月最后一个工作日组成的日期索引
pd.date_range('2021-01-01', '2021-03-01', freq='BM')

DatetimeIndex(['2021-01-29', '2021-02-26'], dtype='datetime64[ns]', freq='BM')

In [25]:
# 向前位移 5 天
now = datetime.datetime(2021, 3, 4)
now  - 5 * Day()

Timestamp('2021-02-27 00:00:00')

In [26]:
# 向后位移到月底
now + MonthEnd()

Timestamp('2021-03-31 00:00:00')

### 时间序列的基础频率

|别名|偏移量类型|说明
|  ----  | ----  |  ----  |
|D|Day|每日历日|
|B|BusinessDay|每工作日|
|H|Hour|每小时|
|T/min|Minute|每分|
|S|Second|每秒|
|L/ms|Million|每毫秒|
|U|Micro|每微妙|
|M|MonthEnd|每月最后一个日历日|
|BM|BusinessMonthEnd|每月最后一个工作日|
|MS|MonthBegin|每月第一个日历日|
|BMS|BusinessMonthBegi|每月第一个工作日|
|W-MON、W-TUE…|Week|从指定的星期几开始算起，每周|
|WOM-1MON、WOM-2MON…|WeekOfMonth|产生每月第一、二、三、四周的星期几，例如WOM-1MON表示每月的第一个星期一|
|Q-JAN、Q-FEB…|QuarterEnd|对于以指定月份（JAN、FEB、…、DEC）结束的年度，每季度的最后一月的最后一个日历日|
|BQ-JAN、BQ-FEB…|BusinessQuarterEnd|对于以指定月份（JAN、FEB、…、DEC）结束的年度，每季度的最后一月的最后一个工作日|
|QS-JAN、QS-FEB…|QuarterBegin|对于以指定月份（JAN、FEB、…、DEC）结束的年度，每季度的最后一月的第一个日历日|
|BQS-JAN、BQS-FEB…|BusinessQuarterBegin|对于以指定月份（JAN、FEB、…、DEC）结束的年度，每季度的最后一月的第一个工作日|
|A-JAN、A-FEB…|YearEnd|每年指定月份最后一个日历日|
|BA-JAN、BA-FEB…|BusinessYearEnd|每年指定月份最后一个工作日|
|AS-JAN、AS-FEB…|YearBegin|每月指定月份第一个日历日|
|BAS-JAN、BAS-FEB…|BusinessYearBegin|每月指定月份第一个工作日|