In [21]:
import pandas as pd

In [22]:
df = pd.read_excel('../toy_dataset.xlsx',sheet_name='raw_data')
df

   文本列1 文本列2 文本列3   数值
0     甲  一部门    A   80
1     甲  一部门    B   30
2     甲  二部门    C   40
3     甲  二部门    D  100
4     甲  二部门    E   80
5     乙  一部门    F   20
6     乙  一部门    G   60
7     乙  一部门    H   70
8     乙  二部门    I   30
9     乙  二部门    J   90
10    乙  一部门    K  100
11    丙  一部门    L   50
12    丙  一部门    M   90
13    丙  一部门    N   80
14    丙  一部门    O   10
15    丙  二部门    P   40
16    丙  二部门    Q   50
17    丙  二部门    R   30
18    丙  二部门    S   70

In [23]:
df['国际通用排名'] = df['数值'].groupby(df['文本列1']).rank(method='min',ascending=False).astype(int)
df['中国式排名'] = df['数值'].groupby(df['文本列1']).rank(method='dense',ascending=False).astype(int)
df

   文本列1 文本列2 文本列3   数值  国际通用排名  中国式排名
0     甲  一部门    A   80       2      2
1     甲  一部门    B   30       5      4
2     甲  二部门    C   40       4      3
3     甲  二部门    D  100       1      1
4     甲  二部门    E   80       2      2
5     乙  一部门    F   20       6      6
6     乙  一部门    G   60       4      4
7     乙  一部门    H   70       3      3
8     乙  二部门    I   30       5      5
9     乙  二部门    J   90       2      2
10    乙  一部门    K  100       1      1
11    丙  一部门    L   50       4      4
12    丙  一部门    M   90       1      1
13    丙  一部门    N   80       2      2
14    丙  一部门    O   10       8      7
15    丙  二部门    P   40       6      5
16    丙  二部门    Q   50       4      4
17    丙  二部门    R   30       7      6
18    丙  二部门    S   70       3      3

In [24]:
df.to_excel('./result_python.xlsx',index=False)